<!doctype html>
<html>
<body>
<p>
Dear ${name}, <br>
I am emailing to confirm ${child_name}'s birthday party for ${jumpers} jumpers on ${date} at ${time}.<br><br>
You will be allocated a room upon arrival, and we encourage arriving 10-15 minutes early to set up. If you have any questions or concerns feel free to call or email us back. 
<br><br>

<h3>Booking Number: ${bkn}</h3>
<h3>About your party package:</h3>
<center><i>Package includes:</i></center>
<ul>
    <li>2 Hours of jumping time*</li>
    <li>MoveX Grip Socks</li>
    <li>Bring a friend free pass given to all party guests for their next visit</li>
    <li>Cups, water and cordial provided</li>
</ul>

<i>
* Please note room hire is for the first 1.5 hours, after which all personal items must be removed so staff can clean in between party bookings. 
</i>
<br>
<br>
${payment}
We look forward to hosting your party!<br>
</p>

<img width=430 src="https://static.wixstatic.com/media/4d04c3_732a1ec844604a14a55a9aeed4457041~mv2.png/v1/crop/x_86,y_0,w_914,h_494/fill/w_532,h_287,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Move%20X%20-%20Logo.png"><br>

<i>All information for bookings and prices are available on our website movex.co.nz, if you need to contact us about your booking please use the information bellow:<br><br>
Regular admission under 'admission' tab<br>
Group bookings under 'group discount' tab<br>
Party bookings under 'party ' tab<br>
<</i>
<br>
A | 230 Maces Road, Bromley, Christchurch 8062, N.Z. <br>
E |info@movex.co.nz<br>  
P | 03 384 8244<br>
W| www.movex.co.nz<br></b>
</body>
</html>
